//Headings customisation
$h1-font-size: 3.5rem;
$h2-font-size: 2.5rem ;
$h3-font-size: 2rem;
$enable-rfs: false;

//Containers customisation
$container-max-widths: (
    sm: 540px,
    md: 960px,
    xl: 1140px,
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";