//Headings customisation
$h1-font-size: 3.5rem;
$h2-font-size: 2.5rem ;
$h3-font-size: 2rem;
$enable-rfs: false;

//Containers customisation
$container-max-widths: (
    sm: 540px,
    md: 960px,
    xl: 1140px,
);

//Input customisation
$input-focus-border-color: #FFF;
$input-focus-box-shadow: 0 0 0 0.15rem rgb(255 255 255 / 20%);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";