* {
    font-family: "Courier New", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
}

body, #root, #content {
    min-height: 94vh;
}

footer {
    background-color: white;
    height: 7vh;
}

footer > p, footer > p > a, footer > p > a:hover, .review-box > h2 {
    color: black
}

.container {
    min-height: 88vh;
}

#ratings-row {
    min-height: 30vh;
}

#poster {
    height: 350px;
}

#spinner {
    height: 75px;
    width: 75px;
}

.cvv-site-button {
    color: white;
    background-color: black;
    border-color: black;
}

.cvv-site-button:hover, .cvv-site-button:focus {
    color: white;
    background-color: black;
    border-color: white;
    box-shadow: none;
}

#plot-para {
    text-align: justify;
}

#initial-container {
    min-height: 94vh;
}

@media (min-width: 1200px) {
    .review-box {
        height: 225px;
    }

    #summary-content, #poster, .review-box {
        width: 275px;
    }
    
}

@media (max-width: 1200px) {
    .review-box {
        height: 200px;
    }

    #summary-content, #poster, .review-box {
        width: 250px;
    }
}